@model ImageOptimization.ViewModels.SourceImageViewModel

@{
    ViewBag.Title = "Details";
}

<img class="img img-detail" src="@Model.ServerPath" alt="@Model.AltText" width="@Model.Width.ToString()" height="@Model.Height.ToString()"/>

<div class="well">
  <h4>@Model.FileName</h4>
  <hr />

  <ul>
    <li><b>Format:</b> @Model.FileFormat</li>
    <li><b>Width:</b> @Model.Width</li>
    <li><b>Height:</b> @Model.Height</li>
  </ul>

  <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
  </p>
</div>
