@model ImageOptimization.ViewModels.SourceImageViewModel

@{
    ViewBag.Title = "Details";
}

<img class="img img-detail" src="@Model.FallbackPath" srcset="@Model.Sizes" alt="@Model.AltText" width="@Model.Width" height="@Model.Height"/>

<div class="well">
  <h4>@Model.FileName</h4>
  <hr />

  <ul>
    <li><b>Format:</b> @Model.FileFormat</li>
    <li><b>Width:</b> @Model.Width</li>
    <li><b>Height:</b> @Model.Height</li>
  </ul>

  <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
  </p>

  <h4>Thumbnails</h4>
  <ul>
    @foreach(var thumbnail in Model.Thumbnails)
    {
    <li><b>Name:</b> <a href="@thumbnail.RelativePath">@thumbnail.FileName</a>, @thumbnail.Width x @thumbnail.Height</li>
    }
  </ul>
</div>
