@model ImageOptimization.ViewModels.SourceImageViewModel

@{
    ViewBag.Title = "Details";
}

<img class="img img-detail" src="@Model.FallbackPath" srcset="@Model.Sizes" alt="@Model.AltText" width="@Model.Width" height="@Model.Height"/>

<div class="well">
  <h4>@Model.FileName</h4>
  <hr />

  <ul>
    <li><b>Format:</b> @Model.FileFormat</li>
    <li><b>Width:</b> @Model.Width</li>
    <li><b>Height:</b> @Model.Height</li>
    <li><b>File size:</b> @Model.FileSize</li>
  </ul>

  <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
  </p>

  <h4>Optimize #1: Resize</h4>
  @if (Model.FileFormat != "SVG")
  {
      <ul>
      @foreach (var thumbnail in Model.Thumbnails)
      {
        <li>
          <b>Name:</b> @thumbnail.FileName,<br />
          <b>Dimensions:</b> @thumbnail.Width x @thumbnail.Height, <br />
          <b>File size:</b> @thumbnail.getFileSize() (@thumbnail.FileSize Bytes) <br />
          <img class="img" src="@thumbnail.RelativePath" alt="@thumbnail.AltText">
        </li>
      }
      </ul>
  }
  else
  {
      <p>This is already the best format for resizing :)</p>
  }

  <h4>Optimize #2: Format change</h4>

  @if (Model.FileFormat != "SVG")
  {
  <ul>
    <li>
      <b>Format:</b> GIF <br />
      <img class="img" src="@Url.Action("FormatTest","Image", new { id = Model.ID, format = 2 })" alt="@Model.AltText">
    </li>
    <li>
      <b>Format:</b> PNG Format <br />
      <img class="img" src="@Url.Action("FormatTest","Image", new { id = Model.ID, format = 3 })" alt="@Model.AltText">
    </li>
    <li>
      <b>Format:</b> JPEG Format <br />
      <img class="img" src="@Url.Action("FormatTest","Image", new { id = Model.ID, format = 4 })" alt="@Model.AltText">
    </li>
    <li>
      <b>Format:</b> WebP Format <br />
      <img class="img" src="@Url.Action("FormatTest","Image", new { id = Model.ID, format = 5 })" alt="@Model.AltText">
    </li>
  </ul>
  }
  else
  {
  <p>Converting from SVG to anything else doesnt really make sense. It is possible thought, since the process of painting vector graphics to the screen involves rasterization. Therefore you can generate JPEG's from SVG like a boss 😎</p>
  }

  <h4>Optimize #3: Compress Images, Quality:75</h4>
  @if(Model.FileFormat != "SVG")
  {
  <ul>
    <li>
      <b>Format:</b> GIF <br />
      <img class="img" src="@Url.Action("FormatTest","Image", new { id = Model.ID, format = 2, quality = 75 })" alt="@Model.AltText">
    </li>
    <li>
      <b>Format:</b> PNG Format <br />
      <img class="img" src="@Url.Action("FormatTest","Image", new { id = Model.ID, format = 3, quality = 75 })" alt="@Model.AltText">
    </li>
    <li>
      <b>Format:</b> JPEG Format <br />
      <img class="img" src="@Url.Action("FormatTest","Image", new { id = Model.ID, format = 4, quality = 75 })" alt="@Model.AltText">
    </li>
    <li>
      <b>Format:</b> WebP Format <br />
      <img class="img" src="@Url.Action("FormatTest","Image", new { id = Model.ID, format = 5, quality = 75 })" alt="@Model.AltText">
    </li>
  </ul>
  }
  else
  {
      
      <p>
        <b>File name:</b> @Model.Thumbnails.First().FileName <br />
        <b>File size:</b> @Model.Thumbnails.First().getFileSize() <br />
        <img class="img" alt="@Model.AltText" src="@Model.Thumbnails.First().RelativePath" />
      </p>
  }


  <h4>Optimize #4: Delete Metadata</h4>

  @if (Model.FileFormat != "SVG")
  {
    <a href="/Image/FormatTest/@Model.ID?format=1&strip=true">TIFF Format</a>
    <a href="/Image/FormatTest/@Model.ID?format=2&strip=true">GIF Format</a>
    <a href="/Image/FormatTest/@Model.ID?format=3&strip=true">PNG Format</a>
    <a href="/Image/FormatTest/@Model.ID?format=4&strip=true">JPEG Format</a>
    <a href="/Image/FormatTest/@Model.ID?format=5&strip=true">WebP Format</a>
  }
  else
  {
    <a href="/Image/FormatTest/@Model.ID?format=6&strip=true">SVG Format</a>
  }


  <h4>Optimize #5: Send new format images</h4>
  @if(Model.FileFormat != "SVG")
  {
      <p>If you see the image below, your client supports webp</p>
      @*<img src="@Url.Action("FormatTest", "Image", new { id = Model.ID, format = 5, strip = true})" alt="@Model.AltText" />*@
  }
  else
  {
      <p>Same as above, not really usefull converting to webP</p>
  }
</div>
