@model ImageOptimization.ViewModels.ListSourceImageViewModel

@{
  /**/

  ViewBag.Title = "Index";
}

<div class="well">
  <h1>Image Optimization project</h1>
  <h2>Index, Page: @Model.Page</h2>

  <p>
    @Html.ActionLink("Test Vips", "TestVips")
    @Html.ActionLink("Create New", "Create")
  </p>

  @if (Model.ImageItems.Any())
  {
    <p>
      <a class="right" href="@Url.Action("Index","Image", new {page = Model.Page+1})">Next</a>
      <a href="@Url.Action("Index","Image", new {page = Model.Page-1})">Before</a>
    </p>
    <table class="table">
      <tr>
        <th>
          Image
        </th>
        @*<th>
              @Html.DisplayNameFor(model => model.ImageItems.First().AbsolutePath)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.ImageItems.First().RelativePath)
          </th>*@
        <th>
          @Html.DisplayNameFor(model => model.ImageItems.First().FileName)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.ImageItems.First().AltText)
        </th>
        <th></th>
      </tr>

      @foreach (var item in Model.ImageItems)
      {
        <tr>
          <td>
            <a href="@Url.Action("Details", "Image", new { id = item.SourceImageID })">
              <img class="img img-overview" id="@item.SourceImageID" src="@item.RelativePath" alt="@item.AltText" width="@item.Width" height="@item.Height" />
            </a>
          </td>
          @*<td>
              @Html.DisplayFor(modelItem => item.AbsolutePath)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.RelativePath)
            </td>*@
          <td>
            @Html.DisplayFor(modelItem => item.FileName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.AltText)
          </td>
          <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SourceImageID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SourceImageID })
          </td>
        </tr>
      }

    </table>
    <p>
      <a class="right" href="@Url.Action("Index","Image", new {page = Model.Page+1})">Next</a>
      <a href="@Url.Action("Index","Image", new {page = Model.Page-1})">Before</a>
    </p>
  }
  else
  {
    <p id="no-data">There is no data in the database or you are on page with no data! Did you forgot to load up the Images? For more information refer to <kbd>README</kbd></p>
    <p> <a href="@Url.Action("Index","Image", new {page = Model.Page})">Home</a></p>
  }
</div>